* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: hsl(0, 0%, 95%);
  --color-black: hsl(0, 0%, 7%);
  --color-purple-100: hsl(254, 88%, 90%);
  --color-purple-500: hsl(256, 67%, 59%);
  --color-yellow-100: hsl(31, 66%, 93%);
  --color-yellow-500: hsl(39, 100%, 71%);
  --color-white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--color-bg);
  display: grid;
  gap: 2rem;
  grid-template-rows: 1fr 5rem;
  font-family: 'DM Sans', sans-serif;
  height: 100vh;
  padding: 2rem 1rem;
}

/* content */

.content {
  display: grid;
  gap: 2rem;
  margin: auto;
  max-width: 25rem;
}

.card {
  border-radius: .7rem;
  padding: 1rem;
}

h1, h2 {
  font-weight: 500;
  line-height: 1;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.1;
}

/* individual cards */

.card-main {
  background-color: var(--color-purple-500);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 3rem;
  text-align: center;
}
.card-main h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.text-yellow {
  color: var(--color-yellow-500);
}
.card-main img {
  margin-bottom: .2rem;
  width: 12rem;
}

.card-platforms {
  background-color: var(--color-white);
}
.card-platforms img {
  width: 100%;
}
.card-platforms h2 {
  margin-top: .5rem;
}

.card-consistent-schedule {
  background-color: var(--color-yellow-500);
  padding-bottom: 0;
}
.card-consistent-schedule img {
  margin-top: 1rem;
  margin-bottom: -.35rem;
  width: 70%;
}

.card-schedule-posts {
  background-color: var(--color-purple-100);
  padding: 2rem 1rem;
  text-align: center;
}
.card-schedule-posts img {
  margin: 1rem auto;
  width: 100%;
}
.card-schedule-posts p {
  padding: 0 .8rem;
}

.card-grow-followers {
  background-color: var(--color-purple-500);
  color: var(--color-white);
  padding: 1rem 3rem;
  text-align: center;
}
.card-grow-followers img {
  width: 100%;
}
.card-grow-followers h2 {
  font-size: 1.7rem;
  margin-top: 1.5rem;
}

.card-audience-growth {
  background-color: var(--color-white);
  padding: 1.5rem;
}
.card-audience-growth h2 {
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}
.text-larger {
  display: block;
  font-size: 2.5rem;
  margin-bottom: .8rem;
}
.text-larger::before {
  content: '>';
  position: relative;
  top: -.2rem;
}
.card-audience-growth img {
  width: 60%;
}

.content-side {
  display: grid;
  gap: 2rem;
}

.card-create-post {
  background-color: var(--color-yellow-100);
  padding: 1.5rem 2rem;
}
.card-create-post h2 {
  font-size: 1.7rem;
}
.text-purple {
  color: var(--color-purple-500);
}
.card-create-post img {
  margin-top: 1rem;
  width: 70%;
}

.card-ai-content {
  background-color: var(--color-yellow-500);
  padding: 1.3rem;
  padding-bottom: 1rem;
}
.card-ai-content h2 {
  font-size: 1.7rem;
}
.card-ai-content img {
  margin-top: 1rem;
  width: 70%;
}

/* footer */

.footer {
  display: grid;
  gap: .3rem;
  place-content: center;
}

.footer a {
  color: var(--color-purple-500);
  font-weight: 600;
  text-decoration: none;
}

.footer a:hover {
  color: var(--color-black);
  text-decoration: underline;
}