@media screen and (min-width: 35rem) {
  .card {
    padding: 3vh 20%;
  }
}

@media screen and (min-width: 70rem) {
  .content {
    max-width: 85%;
    gap: 2vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, min-content);
    grid-template-areas: 
    'content-side main main schedule-posts'
    'content-side platforms consistent schedule-posts'
    'content-side audience-growth grow-followers grow-followers'
    ;
  }

  .card {
    padding: 2vw;
    max-width: none;
  }

  .card-main {
    grid-area: main;
    padding: 4vw 2vw;
  }

  .card-platforms {
    grid-area: platforms;
  }
  .card-platforms img {
    object-fit: cover;
    object-position: left;
    width: 150%;
  }

  .card-consistent-schedule {
    grid-area: consistent;
  }
  .card-consistent-schedule img {
    margin-bottom: -50%;
    object-fit: cover;
    object-position: top;
    width: 100%;
  }

  .card-schedule-posts {
    align-items: start;
    grid-area: schedule-posts;
    padding: 3vw 2vw;
    text-align: left;
  }
  .card-schedule-posts img {
    object-fit: cover;
    object-position: left;
    width: 150%;
  }
  .card-schedule-posts p {
    max-width: none;
  }

  .card-audience-growth {
    grid-area: audience-growth;
  }
  .card-audience-growth img {
    width: 90%;
  }

  .card-grow-followers {
    grid-area: grow-followers;
    flex-direction: row;
    text-align: left;
  }
  .card-grow-followers img {
    width: 45%;
  }

  .content-side{
    gap: 2vw;
    grid-area: content-side;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .card-create-post {
    padding: 3vw 2.3vw;
  }
  .card-create-post img {
    width: 100%;
  }

  .card-ai-content {
    justify-content: space-between;
  }
  .card-ai-content img {
    width: 100%;
  }
}